# DATA SCRAPING

<br>

---

<br>

### Import packages

In [1]:
import pandas as pd

In [2]:
import requests
from bs4 import BeautifulSoup as soup
import re 
from selenium import webdriver
import datetime
import urllib3
import warnings
warnings.filterwarnings("ignore")

### Scrape the first table

In [4]:
browser = webdriver.Chrome('F:\data learn/uni_ranking/chromedriver.exe')
url = 'https://www.timeshighereducation.com/world-university-rankings/2020/world-ranking#!/page/0/length/-1/sort_by/rank/sort_order/asc/cols/stats'
browser.get(url)

<br>

In [ ]:
row_list = []
for i in range(1,1398):
    #row = browser.find_element_by_class_name(f'//*[@id="datatable-1"]/tbody/tr[{i}]')
    Rank = browser.find_element_by_xpath(f'//*[@id="datatable-1"]/tbody/tr[{i}]/td[1]').text
    University = browser.find_element_by_xpath(f'//*[@id="datatable-1"]/tbody/tr[{i}]/td[2]/a[1]').text
    Country = browser.find_element_by_xpath(f'//*[@id="datatable-1"]/tbody/tr[{i}]/td[2]/div/div/span/a').text
    FTE_students = browser.find_element_by_xpath(f'//*[@id="datatable-1"]/tbody/tr[{i}]/td[3]').text
    Staff_students = browser.find_element_by_xpath(f'//*[@id="datatable-1"]/tbody/tr[{i}]/td[4]').text
    International_students_pct = browser.find_element_by_xpath(f'//*[@id="datatable-1"]/tbody/tr[{i}]/td[5]').text
    Female_male_ratio = browser.find_element_by_xpath(f'//*[@id="datatable-1"]/tbody/tr[{i}]/td[6]').text
    row_item = {"Rank": Rank,
               "University": University,
               "Country": Country,
               "FTE_students": FTE_students,
                "Staff_students": Staff_students,
                "International_students_pct": International_students_pct,
                "Female_male_ratio": Female_male_ratio
               }
    row_list.append(row_item)

<br>

### Scrape the second table

In [23]:
url2 = 'https://www.timeshighereducation.com/world-university-rankings/2020/world-ranking#!/page/0/length/-1/sort_by/rank/sort_order/asc/cols/scores'
browser2 = webdriver.Chrome('F:\data learn/uni_ranking/chromedriver.exe')
browser2.get(url2)

In [25]:
row_scores_list = []
for i in range(1,1398):
    Rank = browser.find_element_by_xpath(f'//*[@id="datatable-1"]/tbody/tr[{i}]/td[1]').text
    University = browser.find_element_by_xpath(f'//*[@id="datatable-1"]/tbody/tr[{i}]/td[2]/a[1]').text
    Overall = browser.find_element_by_xpath(f'//*[@id="datatable-1"]/tbody/tr[{i}]/td[3]').text
    Teaching = browser.find_element_by_xpath(f'//*[@id="datatable-1"]/tbody/tr[{i}]/td[4]').text
    Research = browser.find_element_by_xpath(f'//*[@id="datatable-1"]/tbody/tr[{i}]/td[5]').text
    Citations = browser.find_element_by_xpath(f'//*[@id="datatable-1"]/tbody/tr[{i}]/td[6]').text
    Industry_income = browser.find_element_by_xpath(f'//*[@id="datatable-1"]/tbody/tr[{i}]/td[7]').text
    International_outlook = browser.find_element_by_xpath(f'//*[@id="datatable-1"]/tbody/tr[{i}]/td[8]').text
    row_scores_item = {'Rank': Rank,
                      'University': University,
                      'Overall': Overall,
                       'Teaching': Teaching,
                       'Research': Research,
                       'Citations': Citations,
                       'Industry_income': Industry_income,
                       'International_outlook': International_outlook
                      }
    row_scores_list.append(row_scores_item)

<br>

### Convert our data to dataframes, sanity check then merge them

In [27]:
stats_df = pd.DataFrame(row_list)
scores_df = pd.DataFrame(row_scores_list)

In [33]:
stats_df.tail()

,Rank,University,Country,FTE_students,Staff_students,International_students_pct,Female_male_ratio
1392,1001+,Yuan Ze University,Taiwan,"8,356",19.5,8%,42 : 58
1393,1001+,Zagazig University,Egypt,"156,419",24.0,1%,53 : 47
1394,1001+,University of Zagreb,Croatia,"68,216",18.9,3%,59 : 41
1395,1001+,University of Zanjan,Iran,"9,980",25.1,0%,54 : 46
1396,1001+,Zhejiang University of Technology,China,"31,228",14.7,8%,n/a

In [47]:
scores_df.tail()

,Rank,University,Overall,Teaching,Research,Citations,Industry_income,International_outlook
1392,1001+,Yuan Ze University,10.7–22.1,17.3,13.9,15.5,47.0,28.3
1393,1001+,Zagazig University,10.7–22.1,13.6,7.7,29.6,34.4,38.8
1394,1001+,University of Zagreb,10.7–22.1,17.8,12.9,25.3,37.4,33.0
1395,1001+,University of Zanjan,10.7–22.1,17.0,12.3,28.5,43.8,18.7
1396,1001+,Zhejiang University of Technology,10.7–22.1,16.7,14.2,32.3,51.4,24.4

In [48]:
final_df = stats_df.merge(scores_df, on = ['Rank','University'])

In [64]:
final_df.head()

,Rank,University,Country,FTE_students,Staff_students,International_students_pct,Female_male_ratio,Overall,Teaching,Research,Citations,Industry_income,International_outlook
0,1,University of Oxford,United Kingdom,"20,664",11.2,41%,46 : 54,95.4,90.5,99.6,98.4,65.5,96.4
1,2,California Institute of Technology,United States,"2,240",6.4,30%,34 : 66,94.5,92.1,97.2,97.9,88.0,82.5
2,3,University of Cambridge,United Kingdom,"18,978",10.9,37%,47 : 53,94.4,91.4,98.7,95.8,59.3,95.0
3,4,Stanford University,United States,"16,135",7.3,23%,43 : 57,94.3,92.8,96.4,99.9,66.2,79.5
4,5,Massachusetts Institute of Technology,United States,"11,247",8.6,34%,39 : 61,93.6,90.5,92.4,99.5,86.9,89.0

In [63]:
final_df.shape

(1397, 13)

<br>

### Now, we save the dataframes to csv format, so we can reuse them later.

In [67]:
stats_df.to_csv('stats_df.csv', index = False)
scores_df.to_csv('scores_df.csv', index=False)
final_df.to_csv('final_df.csv', index = False)